# ─────────────────────────────────────
# SUPABASE
# ─────────────────────────────────────

VITE_SUPABASE_URL=https://onqqokctsvzyxcwhhrkx.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ucXFva2N0c3Z6eXhjd2hocmt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Mzc1MTEsImV4cCI6MjA5NTIxMzUxMX0.fDCBwhD2GKBjlDGg2CFrFNQicxluKdwE9H7YiWdGtHI

# ─────────────────────────────────────
# APP
# ─────────────────────────────────────

VITE_APP_NAME=ALPHA-HELP

VITE_APP_URL=http://localhost:5173

# ─────────────────────────────────────
# ENV
# ─────────────────────────────────────

VITE_ENV=development